<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Aztec Dice</title>
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/game.css">
<script src="vue.min.js"></script>
<script src="game.js"></script>

</head>
<body id='body'>
    <div class="container" style='margin-top: 10px'>
        <div class="row" v-show="game && game.turn">
            <div class="two columns" v-repeat="player : game.players">
                <button class="button" type="button" v-class="'button-primary': $index == game.active_player_index" v-on="click: game.shown_player_index = $index">{{player.name}}</button>
            </div>    
        </div>

        <div class="row" v-show="!game">
            <div class="four columns">
                <button class="button-primary" type="button" v-on="click: newGame">New Game</button>
            </div>    
        </div>
        <div class="row" v-show="game && !game.turn">
            <div class="six columns">
                <form v-on="submit: addPlayer">
                    <label>Player Name</label>
                    <input class="u-full-width" v-model='player_name' type="text">
                    <button type='submit'>Add</button>
                    <button type='button' v-on="click: game.start">Start Game</button>
                </form>
            </div>    
        </div>    
        <div class="row" v-show="game && !game.turn">
            <div class="six columns">
                <ul>
                    <li v-repeat="player:game.players">{{ player.name }}</li>
                </ul>

            </div>    
        </div>              
        <div v-show="game.turn">
            <div class="row">
                <div class="twelve columns">
                    <h5>Player: {{ game.shownPlayer().name }} <span v-show="game.shown_player_index == game.active_player_index">(Active: {{game.turn.phase}})</span></h5>
                </div>    
            </div>             
            <!-- GOODS -->   
            <div v-show="game && game.turn">
                <div class="row">
                    <div class='six columns'>
                        <table>
                            <tr v-repeat='good : game.goods'>
                                <td>{{good.display_name}}</td>
                                <td 
                                    class="{{good.code}}"
                                    v-repeat="increment in getGoodIncrements(good)"
                                    v-class="selected: (game.shownPlayer().goods[good.code] == $index)"
                                    >{{increment}}</td>
                            </tr>                     
                        </table>
                    </div>
                    <div class='six columns'>
                        <table class='u-full-width'>
                            <tbody>
                                <tr v-repeat="city : game.shownPlayer().cities">
                                    <td
                                        v-class="'city-complete': city.men_required == city.men_filled"
                                        style="padding-left: 5px"
                                    >
                                        <span v-show="(city.men_required == city.men_filled) || game.turn.men < 1">
                                            City {{$index+1}}
                                        </span>
                                        <button v-show="(city.men_required != city.men_filled) && game.turn.men > 0">
                                            + City {{$index+1}}
                                        </button>                                        
                                    </td>
                                    <td 
                                        v-repeat="square in getCityPopulation(city)"
                                        >{{square}}</td>                                
                                </tr>         
                            </tbody>            
                        </table>                        
                    </div>
                </div>
            </div>
            <!-- FOOD -->
            <div class='row'>
                <div class='four columns '>
                    <div class='food-info'>
                        Food: {{ game.shownPlayer().food_count }}
                    </div>
                </div>
                <div class='four columns '>
                    <div class='disaster-info'>
                        Disasters: {{ game.shownPlayer().disaster_count }}
                    </div>
                </div>
            </div>

            <!-- DICE -->   
            <div v-show="game && game.turn && (game.active_player_index == game.shown_player_index)"> 
                <div class="row" v-show="game.turn.phase == 'rolling'">
                    <div class="twelve columns">
                        <button 
                            class="button button-primary" 
                            type="button" 
                            v-on="click: game.turn.roll" 
                            v-attr="disabled: (game.turn.rolls_remaining == 0 || game.turn.phase != 'rolling')">Roll
                            </button>
                        <button 
                            class="button button-primary" 
                            type="button" 
                            v-attr="disabled: game.turn.phase != 'rolling'"
                            v-on="click: game.turn.finishRoll" 
                            >Finish Roll
                            </button>                            
                    </div>    
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <button 
                            v-repeat="die in game.turn.dice" 
                            v-attr="disabled: (game.turn.rolls_remaining == 0)"
                            class="button dice" 
                            type="button"  
                            v-class="'button-primary': die.held,'button-danger': (die.shown_side == '1xSkull + 2xGood')" 
                            v-on="click: die.toggleHold()">
                            {{ die.shown_side }}
                        </button>
                    </div>    
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <span v-repeat="die : getChoiceDice()">
                            <button 
                                class="button dice" 
                                type="button"  
                                v-class="'button-primary': die.choice == 'men'" 
                                v-attr="disabled: game.turn.phase != 'rolling'"
                                v-on="click: die.choice = 'men'">
                                Men
                            </button>
                            <button 
                                class="button dice" 
                                type="button"  
                                v-class="'button-primary': die.choice == 'food'" 
                                v-attr="disabled: game.turn.phase != 'rolling'"
                                v-on="click: die.choice = 'food'">
                                Food
                            </button>                            
                        </span>
                    </div>    
                </div>                
            </div>

            <!-- MEN & COIN -->
            <div class='row'>
                <div class='four columns '>
                    <div class='men-info'>
                        Men: {{ game.turn.men }}
                    </div>
                </div>
                <div class='four columns '>
                    <div class='coin-info'>
                        Coin: {{ game.turn.coin }}
                    </div>
                </div>
            </div>

            <!-- LOG -->
            <div class="row">                
                <div class="twelve columns" >
                    <h5>Log</h5>
                    <textarea class="u-full-width" v-model='log_text' style="height: 100px">

                    </textarea>
                </div>
            </div>            
        </div>
    </div>

</body>
<script src="vue-model.js"></script>
</html>
